$gradient : 0.3;

body{
  background: url('../assets/images/guitar.jpeg') center center fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, $gradient), rgba(0, 0, 0, $gradient)), url('../assets/images/guitar.jpeg');
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, $gradient), rgba(0, 0, 0, $gradient)), url('../assets/images/guitar.jpeg');
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, $gradient), rgba(0, 0, 0, $gradient)), url('../assets/images/guitar.jpeg');
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, $gradient), rgba(0, 0, 0, $gradient)), url('../assets/images/guitar.jpeg');
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, $gradient)), to(rgba(0, 0, 0, $gradient))), url('../assets/images/guitar.jpeg');
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, $gradient), rgba(0, 0, 0, $gradient)), url('../assets/images/guitar.jpeg');
  color: white;
}
h1{
  margin-top: 40%;
}
.container{
  text-align: center;
}
