.trash { color:rgb(209, 91, 71); }

.list-group-item span:first-of-type{
  margin-right: 10px;
}
.details{
  height: 200px;
  color: black;
  display: block;
  width: 100%;
}
.ng-hide {
  /* this is just another form of hiding an element */
  display: none;
}
